@font-face {
    font-family: myFont;
    src: url(./fonts/NeueMachina-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont;
}

body{
    padding: 0.5vw 3vw;
    background-color: #000000;
    color: antiquewhite;
}

.form-box{
    background-color: #19191d;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    font-size: 1.2vw;
}
input{
    padding: 0.3vw 3vw;
    border-radius: 0.2vw;
    outline: none;
    border: none;
}
option, select{
    font-size: 1.1vw;
    outline: none;
}